#background{
    background-image: url(./Resource/background3.svg);
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}
/* Porque cuando subí un archivo SVG a mi página afectó su color y fuente de texto */

/* cabecera */
#logotipo{
    width: 300px;
    height: auto;
}
#titulo{
    color: black;
    padding: 0px;
    margin: 0px;
}

/* form title */
hr{
    width: 20%;
    box-align: left;
    display: inline-flex;
}

/* form contain */
form{
    display: block;
}
#formContainRegister{
    background-color: white;
    
}
.button{
    display: inline;
}

input{
    display: block;
    margin: 0px;
}
#terminosyCondiciones{
    color: black;
}

.formlabels{
    color: black;
}
p{
    display: inline;
    color: rgb(173, 241, 241);
}

