#background{
    background-image: url(./Resource/background3.svg);
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
    padding-bottom: 30px;
}
/* Porque cuando subí un archivo SVG a mi página afectó su color y fuente de texto */

#logotipo{
    margin: 0 0 100px 40px;
    display: block;
}

#borderform{
    padding: 35px 10px;
    border: 5px solid white;
    border-radius: 100px;
    width: 480px;  
    height: auto; 
    margin: auto;
}

/* cabecera */
#logotipo{
    width: 14%;
    height: auto;
}

#titulo{
    color: rgba(0, 51, 51);
    padding: 0 0 0 0;
    margin: 0 0 0 12%;
    font-size: 40px;
}

figure{
    padding: 10px 0 0 0;
    margin: 0;
    height: 0;
}
#logoicono{
    margin-top: 2px;
    width: 40px;
    height: auto;
    padding: 0;
}

/* form title */
hr{
    width: 80%;
    box-align: left;
    display: inline-flex;
    margin-left: 12px;
}

/* form contain */
form{
    justify-content: center;
    margin: auto;
    width: 400px;
    height: auto;
    padding: 20px;
}
#formContain{
    background-color: white;
    border-radius: 70px;
}
.button{
    display: inline;
}

.data{
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    margin: 0px;
    justify-content: center;
    width: 90%;
}
#terminosyCondiciones{
    color: black;
}


/* checker */
#check{
display: none;
}
#check + #terminos{
    margin-top: 15px;
    border-radius: 0px;
    cursor: pointer;
}
#terminos:before{
    content: "";
    background: transparent;
    border: 1px solid black;
    border-radius: 0px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    /* vertical-align: middle; */
    text-align: center;
} 
#check:checked + #terminos:before{
    content: "✔";
    vertical-align: middle;
    color:white;
    font-size: 60%;
    background-color: black;

}
/* fin del checker de terminos y condiciones*/
/* boton de registrarse */
#registerButton{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25%;
    display: block;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    background-color: black;
    color:white;
    justify-content: center;
    /* fin boton de registrarse */
}
.formlabels{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
    display: block;
    justify-content: center;
}
p{
    display: inline;
    color: rgb(173, 241, 241);
}