#background{
    background-image: url(./Resource/background3.svg);
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
}
/* Porque cuando subí un archivo SVG a mi página afectó su color y fuente de texto */

/* cabecera */
#logotipo{
    width: 300px;
    height: auto;
}
#titulo{
    color: black;
    padding: 0px;
    margin: 0px;
}

/* form title */
/* linea separadora de contenido */
hr{
    width: 20%;
    box-align: left;
    display: inline-flex;
}
/* linea separadora de contenido */
/* form contain */
#containlogin{
    display: block;
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 40px;
    margin: auto;
    border-radius: 100%;
}

/* Contenido de login */
#tittle{
    padding-top: 20%;
}
.formlabels{
    color: black;
    vertical-align: middle;
    margin:auto;
}

input{
    display: block;
    margin: 0px;
}
/* Fin del contenido de login */
#forgotpassword{
    display: block;
}
p{
    display: inline;
    color: rgb(173, 241, 241);
}

.button1{
    display: inline;
}