*{
    font-family:'garamond', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#background{
    background-image: url(./Resource/background3.svg);
    background-color: black;
    background-repeat:no-repeat;
    background-size: 100%;
    padding-bottom: 30px;
}
/* Porque cuando subí un archivo SVG a mi página afectó su color y fuente de texto */
/* cabecera */
#navbar{
    position:static;
}
#logotipo{
    /* margin: 0 0 100px 40px;
    display: block; */
    width: 15%;
    height: auto;
}

#logotipo:hover{
    width: 17%;
    height: auto;
}

#borderform{
    padding: 35px 10px;
    border: 5px solid white;
    border-radius: 100px;
    width: 480px;  
    height: auto; 
    margin: auto;
}

#borderform:hover{
    border: 5px solid aquamarine;
}


/* cabecera */

/* form title */

/* figure{
    padding: 10px 0 0 0;
    margin: 0;
    height: 0;
} */
#logoicono{
    /* margin-top: 2px; */
    width: 40px;
    height: auto;
    padding: 5px 0 0 0;
    display: inline;
    position: relative;
    top: 7px;
    left: 8px;
}

#titulo{
    color: rgba(0, 51, 51);
    padding-left: 15px;
    margin: 0;
    font-size: 40px;
    font-family: 'Cinzel Decorative', 'Cooper Black', Arial, Helvetica, sans-serif;
    display: inline;
}

hr{
    width: 80%;
    box-align: left;
    display: inline-flex;
    margin-left: 12px;
}
/* form title */

/* form contain */
form{
    justify-content: center;
    margin: auto;
    width: 400px;
    height: auto;
    padding: 20px;
}
#formContain{
    background-color: white;
    border-radius: 70px;
}
.button{
    display: inline;
}

.data{
    border: 2px solid black;
    border-style: groove;
    border-radius: 6px;
    display: block;
    margin: 0px;
    justify-content: center;
    width: 90%;
    height: 25px;
}
.data:hover{
border:2px solid orangered;
border-style: groove;
}


/* terminos y condiciones */

#terminosyCondiciones{
    color: black;
}

#terminos:hover{
    color: black;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: rgba(0, 51, 51);
    font-size: bold;
}

/* checker */
#check{
    display: none;
}
#check + #terminos{
    margin-top: 15px;
    border-radius: 0px;
    cursor: pointer;
}
#terminos:before{
    content: "";
    background: transparent;
    border: 1px solid black;
    border-radius: 0px;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    /* vertical-align: middle; */
    text-align: center;
} 
#check:checked + #terminos:before{
    content: "✔";
    vertical-align: middle;
    color:white;
    font-size: 60%;
    background-color: black;
    
}
/* fin del checker de terminos y condiciones*/
/* fin de terminos y condiciones */


.formlabels{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 2px;
    color: black;
    display: block;
    justify-content: center;
}

/* inicio boton de registrarse */
#registerButton{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 25%;
    display: block;
    border-radius: 10px;
    width: 50%;
    height: 40px;
    background-color: black;
    color:white;
    justify-content: center;
}

#registerButton:hover{
    background-color: rgba(0, 51, 51);
    border: 1px solid rgba(0, 51, 51);
}
/* fin boton de registrarse */